@charset 'utf-8';
@boderColor: #f0f2f5; 
@white: #ffffff;
@menuBgColor: #141414;
@iconColor: rgba(0,0,0,.45);
@iconHoverColor: rgba(0,0,0,.85);
@navigationColor:#273352;
@borderColor2:#ddd;

.flexed(@a: space-between){
    display: flex;
    align-items: center;
    justify-content: @a;
}
.mode(@w:100%, @h:25%, @c:@white){
    top: 0;
    left: 0;
    width: @w;
    height: @h;
    background-color: @c; 
}
.ant-menu{
    font-weight: 600;
}
.ant-menu-inline {
    .ant-menu-item{
        margin-top: 0;
    }
}
.collapse-transition {
  transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
}
.ant-layout-footer{
    padding: 10px;
    font-size: 14px;
}
.bb{
    border-bottom: 1px solid @boderColor;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}

.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.pt5{
    padding-top: 5px;
}
.pb5{
    padding-bottom: 5px;
}
.pr10{
    padding-right: 10px;
}
.pl10{
    padding-left: 10px;
}
.pd15{
    padding: 14px;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.h-header-action {
    font-size: 14px;
    .h-header-action-item {
      cursor: pointer;
      &:hover {
        background-color: var(--header-bg-hover-color);
      }
    }
  }
  .logo-mix-sidebar{
      margin: 0;
      width: 200px;
      height: 45px;
      line-height: 45px;
      padding-left: 15px;
  }
  .logo-sidebar{
      color: var(--header-text-color);
  } 
    .mix-sidebar {
    color: var(--header-text-color);
  }
  .sidebar{
      color: @white;
  }
  .logo-mix{
    margin: 0;
    padding-left: 10px;
    text-align: left;
    width: 200px;
    height: 45px;
    line-height: 45px;
  }