@charset 'utf-8';

.ant-layout-footer{
    padding: 10px 15px;
}
.bb{
    border-bottom: 1px solid @boderColor;
}
.mr10{
    margin-right: 10px;
}
.ml10{
    margin-left: 10px;
}
.mt5{
    margin-top: 5px;
}
.mb5{
    margin-bottom: 5px;
}

.mt10{
    margin-top: 10px;
}
.mb10{
    margin-bottom: 10px;
}
.pt5{
    padding-top: 5px;
}
.pb5{
    padding-bottom: 5px;
}
.pd15{
    padding: 14px;
}