
// variables.less
@primary-color: #fa541c;
 :root {
    --PC: @primary-color;   
    // --header-bg-color: #394664;
    // --header-bg-hover-color: #273352;

    --header-bg-color: #fff;
    --header-bg-hover-color: #f0f2f5;  
    --header-text-color: #000000d9; 
}
@border-radius-base: 4px;
.multiple-header {
    .ant-tabs.ant-tabs-card {
        .ant-tabs-card-bar {
            .ant-tabs-tab-active {
                background-color: @primary-color;
            }
        }
    }
  }
.navigation-mode-wrap {
     .navigation-mode:hover {
        border: 2px solid @primary-color;
     }
    .navigation-mode-active{
        border: 2px solid @primary-color;
    }
}
.drawer-container {
    .theme-color-active {
        border: 1px solid @primary-color;
    }
}

// .h-header-action {
//     .h-header-action-item:hover {
//         background-color: ;
//     }
// }